div(id='nav-container')
  div(class='container' id='navbar')
    include _logo
    div(class='btn-field')
      if (currentUser)
        span(class='search-btn')
          a(href="/users/")
            button(class='btn btn-primary') SEARCH PARTNERS
        span(class='inbox-btn')
          a(href="/users/#{currentUser.id}")
            button(class='btn btn-success') VIEW INBOX
        span(class='edit-btn')
          a(href="/users/#{currentUser.id}/edit")
            button(class='btn btn-warning') EDIT PROFILE
        span(class='auth-btn')
          a(href="/auth/logout")
            button(class='btn btn-danger') LOGOUT
        div(class='current-user')
          p Current User: #{currentUser.name}
            span(id='current-user-id') #{currentUser.id}
      else
        span(class='search-btn')
          a(href="/users/")
            button(class='btn btn-primary') SEARCH PARTNERS
        span(class='auth-btn')
          a(href="/auth/google") 
            button(class='btn btn-danger') LOGIN WITH GOOGLE