aside(id='sidebar')
	div(class='panel panel-success')
		div(class='panel-heading')
			h3(class='text-center') Ad Number 1
		div(class='panel-body')
			img(class='img-responsive' src='http://lorempixel.com/400/350' alt='picture')
			h3(class='text-center')
				strong Click on the ad!
			p(class='lead') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
	div(class='panel panel-danger')
		div(class='panel-heading')
			h3(class='text-center') Ad Number 2
		div(class='panel-body')
			img(class='img-responsive' src='http://lorempixel.com/400/350' alt='picture')
			h3(class='text-center')
				strong Click on the ad!
			p(class='lead') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.