div(class='how-it-works-btn')
  button(class='btn btn-warning') HOW IT WORKS
include _socialMediaBtns
div(class='how-it-works' id='how-it-works')
  div(class='row')
    div(class='col-md-4')
      i(class='fa fa-search fa-5x' aria-hidden='true')
      h3 Choose Partner
      p Languo connects over 33 million people across 123 countries. Select someone who either speaks or is learning the language that you want to practice.
    div(class='col-md-4')
      i(class='fa fa-envelope-o fa-5x' aria-hidden='true')
      h3 Ask For Chat
      p Send a friend request to the person that you chose. They will immediately receive your request and accept it after looking at your profile.
    div(class='col-md-4')
      i(class='fa fa-language fa-5x' aria-hidden='true')
      h3 Start Learning
      p Meetup with the person and start learning a new language. Have fun talking with your new friend, and share our site on facebook, twitter, reddit, and instagram!
  include _testimonials.jade