div(class='social-media-btns')
  a(href='https://github.com/Anketo/q2_project' target='_blank')
    i(class='fa fa-github fa-3x') &nbsp; 
  a(href='https://github.com/Anketo/q2_project' target='_blank')
    i(class='fa fa-facebook-official fa-3x') &nbsp;
  a(href='https://github.com/Anketo/q2_project' target='_blank')
    i(class='fa fa-paw fa-3x') 