div(class='testimonials')
  div(class='testimonial')
    p 
      i(class='fa fa-quote-left fa-2x') &nbsp; 
      span This website is amazing. I joined it after I moved to another country where I didn't know anyone or speak the language. It has been the single most important thing I have done to improve my knowledge of the language, and it has also enabled me to meet lots of nice, interesting people and has increased my confidence no end! I am constantly recommending it to people I know and sometimes even people I don't!
    p(class='text-right'): em Emily - Mar 2015
  div(class='testimonial')
    p 
      i(class='fa fa-quote-left fa-2x') &nbsp; 
      span Auguri a voi per un sito molto utile. Non è mai stato così facile trovare un scambio linguistico e culturale. Dopo anni studiando l'italiano posso finalmente usare tutto quello che ho imparato, e anche fare di più! Incontrare nuovi amici e imparare delle culture straniere. Thank you, keep up the good work!
    p(class='text-right'): em Nick - Feb 2014