extends ./layout
block title 
  title Language APP
block styles
  link(rel='stylesheet' href='/stylesheets/home.css')
block content
  div(id='home')
    h1 LANGUO.IO
    h3 Practice your second language by meeting up with native speakers living in your area!
    a(href="#") 
      button(class='btn btn-primary') FIND A LANGUAGE PARTNER
    a(href="#") 
      button(class='btn btn-danger') LOGIN WITH GOOGLE
