extends ./layout
block title 
  title Language APP
block styles
  link(rel='stylesheet' href='/stylesheets/style.css')
block content
  h1 LANGUO.IO
  a(href="#") 
    button(class='btn btn-primary') FIND A LANGUAGE PARTNER
  a(href="auth/login") 
    button(class='btn btn-danger') LOGIN WITH GOOGLE