extends ./layout
block styles
  link(rel='stylesheet' href='/stylesheets/users/home.css')
block content
  div(id='home')
    div(class='home-header')
<<<<<<< HEAD
      div(class='logo-container')
        img(src='/assets/logo.png' id='logo')
        h1 LANGUO
=======
      include ./includes/_logo
      div(class='google-btn')
        a(href="auth/google") 
          button(class='btn btn-danger') LOGIN WITH GOOGLE
>>>>>>> 23fd9e4fa93e33b51a2f8f7da2834dad59e45ad8
    div(class='home-content')
      div(class='sub-header')
        h3 Practice your second language by meeting up with native speakers living in your area!
      div(class='search-btn')
        a(href="users") 
          button(class='btn btn-primary') FIND A LANGUAGE PARTNER
      include ./includes/home/_howItWorks
block scripts
  script(type="text/javascript", src="/javascripts/home.js")