<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  block title
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' integrity='sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='/stylesheets/animations.css')
  block styles
body
  div(class="container")
    if (currentUser)
      div(id="user-info")
        div(class='logout-btn')
          a(href="auth/logout") 
            button(class='btn btn-warning') LOGOUT
        p The current user is #{currentUser.name}
    block content

  script(type="text/javascript", src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
  block scripts
