/* COLOR SCHEME */
/* green #5fcf80 */
/* grey #c9cacb */
/* white #ffffff */
/* purple #838cc7 */
/* black #3e474f */
/* blue #3079ab */
/* red #e15258 */
/* orange #f9845b */
/* lightblue #53bbb4 */

@font-face {
  font-family:'nunito-bold';
  font-weight: normal;
  font-style: normal;
  src:url('../fonts/nunito/nunito-bold-webfont.eot');
  src:url('../fonts/nunito/nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/nunito-bold-webfont.woff2') format('woff2'),
    url('../fonts/nunito/nunito-bold-webfont.woff') format('woff'),
    url('../fonts/nunito/nunito-bold-webfont.ttf') format('truetype'),
    url('../fonts/nunito/nunito-bold-webfont.svg#webfont') format('svg');
}

body {
  background-color: #5fcf80;
  color: white;
  font-family: 'nunito-bold';
}

#flash-container {
  margin: 0;
  text-align: center;
  display: none;
  font-size: 25px;
}

input:not([type='submit']), textarea {
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
               "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.logo-container a {
  color: white;
  text-decoration: none;
}

.logo-container h1 {
  font-size: 56px;
  display: inline;
  vertical-align: middle;
}

img#logo {
  width: 180px;
}

#nav-container {
  margin-bottom: 30px;
  background-color: #53bbb4;
}

#navbar {
  position: relative;
}

.btn-field {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.btn-field button {
  font-size: 15px;
  margin-left: 7px;
}

.btn-field .search-btn button {
  background-color: #3079ab;
}

.btn-field .inbox-btn button {
  background-color: #838cc7;
}

.btn-field .edit-btn button {
  background-color: #f9845b;
}

.btn-field .auth-btn button {
  background-color: #e15258;
}

.current-user {
  position: absolute;
  top: 150%;
  right: 0;
}

#current-user-id {
  opacity: 0;
}

#user-index, #user-show, #user-edit, 
#messages-show, #sidebar h3, #sidebar p {
  color: #3e474f;
}