div(class='threads')
  table(class='table table-striped table-bordered')
    thead
      tr
        th(class='th-from') From
        th(class='th-to') To
        th(class='th-subject') Subject
    tbody
      each msg in usersMsgs
        tr
          td #{msg.sender_name}
          td #{msg.rec_name}
          td 
            a(class='msg-link' href="/threads/#{msg.thread_id}") #{msg.subject}