extends ../layout
block styles
	link(rel='stylesheet' href='/stylesheets/threads/show.css')
block nav
	include ../includes/_nav
block content
	div(id='messages-show')
		div(class='row')
			div(class='col-md-8')
				include ../includes/threads/_messages
			div(class='col-md-4')
				include ../includes/_sidebar
