extends ../layout
block content
	h1 Threads Show Page

	h3 #{thread.subject}
	each message in messages
		li=message.message
	h5
		form(action = "/threads/#{thread.id}/messages" method = "POST")
			input(type = "submit" value ="Reply this Thread")
