.user-profile {
  overflow-wrap: break-word;
}

.json-languages {
  display: none;
}

.teaching-languages, .learning-languages {
  margin-left: 12%;
  font-size: 18px;
}

.teaching-languages p, .learning-languages p {
  position: relative;
}

.stars .fa-star{
  color: #f9845b;
}

.language-delete-form {
  position: absolute;
  top: -5px;
  right: 0;
}

.profile-head img {
  max-width: 150px;
  max-height: 150px;
}

.profile-head h2 {
  display: inline;
  vertical-align: middle;
  margin-left: 20px;
}

.profile-head h2 span {
  font-size: 17px;
  vertical-align: middle;
}

.edit-user, .edit-languages {
  padding: 15px;
}

.edit-user h3, .edit-languages h3 {
  margin: 5px 0 15px 0;
}

.form-span {
  display: inline-block;
}

.form-span span {
  margin-right: 15px;
}

.form-span input[type='number'] {
  display: inline-block;
  width: auto;
  height: 30px;
  padding: 0 0 0 5px;
}

textarea {
  min-height: 100px;
}

.btn-update {
  background-color: #5fcf80;
}

.btn-delete {
  background-color: #e15258;
}

.edit-languages .form-group {
  margin: 30px 0;
}

.edit-languages select {
  width: 100%;
}

.edit-languages .control-label {
  padding-top: 0;
}