/*id, img_url,name, location, gender, age, member since, last login, email, description, language*/
.profile-head h2 {
  display: inline;
  vertical-align: middle;
  margin-left: 20px;
}

.profile-head h2 span {
  font-size: 17px;
}