.profile-head h2 {
  display: inline;
  vertical-align: middle;
  margin-left: 20px;
}

.profile-head h2 span {
  font-size: 17px;
}

.edit-user, .edit-languages {
  padding: 15px;
}

.edit-user h3, .edit-languages h3 {
  margin: 5px 0 15px 0;
}

textarea {
  min-height: 100px;
}

.btn-update {
  background-color: #5fcf80;
}

.btn-delete {
  background-color: #e15258;
}