/* HEADER */

.home-header {
  position: relative;
}

.logo-container h1 {
  font-size: 56px;
  display: inline;
  vertical-align: middle;
}

img#logo {
  width: 180px;
}

.google-btn {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.google-btn button {
  background-color: #e15258;
  font-size: 25px;
}

/* CONTENT */

.home-content {
  text-align: center;
}

.sub-header h3 {
  margin: 70px 0;
  font-size: 25px;
}

.search-btn button {
  background-color: #3079ab;
  font-size: 35px;
}

.how-it-works-btn {
  margin-top: 30px;
}

.how-it-works-btn button {
  background-color: #f9845b;
  font-size: 35px;
}

.social-media-btns {
  margin-top: 30px;
  margin-bottom: 30%;
}
  
.social-media-btns i {
  color: white;
}

.how-it-works h3 {
  font-size: 35px;
}

.how-it-works p {
  font-size: 17px;
}

.how-it-works .fa-search {
  color: #e15258;
}

.how-it-works .fa-envelope-o {
  color: #f9845b;
}

.how-it-works .fa-language {
  color: #3079ab;
}

.testimonials {
  margin: 5%;
}

.testimonial .fa-quote-left {
  color: #838cc7;
}