extends ../layout
block styles
	link(rel='stylesheet' href='/stylesheets/users/edit.css')
block nav
	include ../includes/_nav
block content
	div(id='user-edit')
		div(class='row')
			div(class='col-md-8')
				include ../includes/users/edit/_userProfile
				include ../includes/users/edit/_editForm
			div(class='col-md-4')
				include ../includes/_sidebar

