extends ../layout
block nav
	include ../includes/_nav
block content
	div(id='edit')
		div(class='row')
			div(class='col-md-8')
				include ../includes/edit/_userProfile
				include ../includes/edit/_editForm
			div(class='col-md-4')
				include ../includes/_sidebar