extends ../layout
block styles
	link(rel='stylesheet' href='/stylesheets/users/index.css')
block nav
	include ../includes/_nav
block content
	div(id='user-index')
		div(class='row')
			div(class='col-md-8')
				include ../includes/users/_usersSearch
				include ../includes/users/_usersList
			div(class='col-md-4')
				include ../includes/_sidebar
block scripts
	script(type="text/javascript", src="/javascripts/index.js")