extends ../layout
block nav
	include ../includes/_nav
block content
	h1 Users Index Page
	each user in users
		div(class="list-group")
			h4(class = "list-group-item-heading") #{user.name}
			p(class = "list-group-item-text"): li Description: #{user.description}
			form(action = "/threads" method = "POST")
				input(type = "text" name = "thread[subject]")
				input(type = "text" name = "message[message]")
				input(type = "hidden" name = "message[sender_id]" value = "#{user.id}")
				input(type = "hidden" name = "message[rec_id]" value = "#{user.id}")
				input(type = "submit" value = "Send Message!")

