extends ../layout
block styles
	link(rel='stylesheet' href='/stylesheets/users/show.css')
block nav
	include ../includes/_nav
block content
	div(id='show')
		h1 Users Show Page
	div(id='users-msgs')
		table
			tr
				th From
				th To
				th Subject
			each msg in usersMsgs
				tr
					td #{msg.send_email}
					td #{msg.rec_email}
					td #{msg.subject}

block scripts
	script(type="text/javascript", src="/javascripts/script.js")