extends ../layout
block styles
	link(rel='stylesheet' href='/stylesheets/users/show.css')
block nav
	include ../includes/_nav
block content
	div(id='show')
		div(class='row')
			div(class='col-md-8')
				include ../includes/users/show/_threads
			div(class='col-md-4')
				include ../includes/_sidebar
block scripts
	script(type="text/javascript", src="/javascripts/script.js")
	script(type="text/javascript", src="/javascripts/show.js")		